//colors

$clr-neutral-200: #EAE0D5;
$clr-neutral-1000 : rgb(2, 6, 18);

$clr-accent-blue: #118ab2;
$clr-accent-gold-1000 : #b37947;
$clr-accent-gold-900 : hsl(28, 43%, 59%);

$clr-accent-gold-700 : #d2ae8e;





//font-families

$ff-primary: 'Lexend Mega', sans-serif;
$ff-secondary: 'Tangerine', sans-serif;

//font-sizes;

$fs-050: .5rem;
$fs-075: .75rem;
$fs-080: .8rem;
$fs-100: 1rem;
$fs-125: 1.25rem;
$fs-150: 1.5rem;
$fs-175: 1.75rem;
$fs-200: 2rem;
$fs-225: 2.25rem;
$fs-250: 2.5rem;
$fs-275: 2.75rem;
$fs-300: 3rem;
$fs-325: 3.25rem;
$fs-350: 3.5rem;
$fs-375: 3.75rem;
$fs-400: 4rem;
$fs-425: 4.25rem;
$fs-450: 4.5rem;
$fs-475: 4.75rem;
$fs-500: 5rem;
$fs-525: 5.25rem;
$fs-550: 5.5rem;
$fs-575: 5.75rem;


// spacings
$sz-010 : .1rem; 
$sz-025: .25rem;
$sz-050: .5rem;
$sz-075: .75rem;
$sz-100: 1rem;
$sz-125: 1.25rem;
$sz-150: 1.5rem;
$sz-175: 1.75rem;
$sz-200: 2rem;
$sz-225: 2.25rem;
$sz-250: 2.5rem;
$sz-275: 2.75rem;
$sz-300: 3rem;
$sz-325: 3.25rem;
$sz-350: 3.5rem;
$sz-375: 3.75rem;
$sz-400: 4rem;
$sz-425: 4.25rem;
$sz-450: 4.5rem;
$sz-475: 4.75rem;
$sz-500: 5rem;
$sz-525: 5.25rem;
$sz-550: 5.5rem;
$sz-575: 5.75rem;
$sz-600: 6rem;
$sz-625: 6.25rem;
$sz-650: 6.5rem;
$sz-675: 6.75rem;
$sz-700: 7rem;
$sz-725: 7.25rem;
$sz-750: 7.5rem;
$sz-775: 7.75rem;
$sz-800: 8rem;
$sz-825: 8.25rem;
$sz-850: 8.5rem;
$sz-875: 8.75rem;
$sz-900: 9rem;
$sz-925: 9.25rem;
$sz-950: 9.5rem;
$sz-975: 9.75rem;
$sz-1000: 10rem;
$sz-1025: 10.25rem;
$sz-1050: 10.5rem;
$sz-1075: 10.75rem;
$sz-1100: 11rem;
$sz-1125: 11.25rem;
$sz-1150: 11.5rem;
$sz-1175: 11.75rem;
$sz-1200: 12rem;
$sz-1225: 12.25rem;
$sz-1250: 12.5rem;
$sz-1275: 12.75rem;
$sz-1300: 13rem;
$sz-1325: 13.25rem;
$sz-1350: 13.5rem;
$sz-1375: 13.75rem;
$sz-1400: 14rem;
$sz-1425: 14.25rem;
$sz-1450: 14.5rem;
$sz-1475: 14.75rem;
$sz-1500: 15rem;


// media queries

$mw-mobile: 50em;
  