@use '../../../Styles/Abstracts/variables' as *;
@use '../../../Styles/Abstracts/mixins' as m;


.sr-only {
    @include m.sr-only;
}

.about {

    &__title--wrapper {
        margin-top: $sz-200;
        display: flex;
        flex-direction: column;
        gap: $sz-050;
          
    }

    &__title--main {
        @include m.title-main;
        color: $clr-accent-gold-700;
        letter-spacing: 2px;

        @media(min-width: $mw-mobile) {
            font-size: $fs-250;
        }
        
    }

    &__title--secondary {
        font-size: $fs-075;
        color: $clr-neutral-200;
        font-family: $ff-primary;
        text-align: center;

        @media(min-width: $mw-mobile) {
            font-size: $fs-125;
        }
    }


  &__content {

      margin-top: $sz-100;    
      display: flex;
      flex-direction: column;
      align-items: center;

      @media(min-width: $mw-mobile) {
        flex-direction: row;
        margin-top: $sz-200;
        padding-left: $sz-300;
        position: relative;
        margin-bottom: $sz-400;
        padding-block: $sz-300;

        &--deco {
            position: absolute;
            height: 95%;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 40%;
            background-color: transparent;
            border-block: 1px solid $clr-accent-gold-700;
            
           
        }
       
      }

      
     

    &__img--wrapper {
        width: min(100%, 600px);
        display: flex;
        position: relative;
        align-items: center;
        padding-block: $sz-300;
        

        @media(min-width: $mw-mobile) {
           flex-direction: column;
           width: 30%;
        }
        
    }  

    &__img {

       
       width: 40%;

       @media(min-width: $mw-mobile) {
           width: max(55%, 215px);
           position: relative;
           z-index: 1;
           border-bottom-left-radius: $sz-075;
       }
       
    }  

    &__img--legend {

        margin-top: $sz-100;
        font-size: $fs-100;
        color: $clr-neutral-200;
        font-family: $ff-primary;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: $sz-050;
        
    }

    &__img--border {
        position: absolute;
        height: 85%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 50%;
        border-top: 1px solid $clr-accent-gold-700;
        border-bottom: 1px solid $clr-accent-gold-700;

        @media(min-width: $mw-mobile) {
            display: none;
            left: 158%;
            height: 92%;
        }
        
    }
    
   &__text--wrapper {
       width: min(92%, 560px);
       
       //padding-bottom: $sz-200;
      
       display: flex;
       flex-direction: column;
       align-items: center;
       position: relative;

       @media(min-width: $mw-mobile) {
        border: none;
        flex: 1;
        align-items: flex-start;
       }
       
   } 

   &__text {
       width: min(100%, 520px); 
       padding-inline: $sz-075;
       padding-block: $sz-050;
       border-radius: $sz-075;
       background-color: $clr-neutral-1000;
       font-size: $fs-080;
       color: $clr-neutral-200;
       font-family: $ff-primary;
       text-align: left;
       position: relative;
       z-index:1;

       @media(min-width: $mw-mobile) {
        width: 90%;
        font-size: $fs-100;
       }

       &--deco {

        display: none;
           width: 40%;
           height: 1px;
           border-radius: 100vw;
           
           background-color: $clr-neutral-200;

           @media(min-width: $mw-mobile) {
            display: none;
           
           }
           
       }
       
   } 
}
}