.navbar {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  font-family: "Lexend Mega", sans-serif;
}
.navbar__top {
  display: flex;
  align-items: center;
  position: relative;
  font-family: "ModerratPersonalUseOnlyMed", sans-serif;
  padding-block: 1.25rem;
  padding-inline: 5.25rem;
}
@media (max-width: 50em) {
  .navbar__top {
    padding: 0;
  }
}
.navbar__top__logo {
  height: 100px;
}
@media (max-width: 50em) {
  .navbar__top__logo {
    height: 75px;
  }
}
.navbar__top__title {
  font-size: 2.5rem;
  color: #d2ae8e;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 50em) {
  .navbar__top__title {
    position: relative;
    font-size: 1.5rem;
    transform: none;
    left: 0;
    text-align: center;
    width: 100%;
  }
}
.navbar__bottom {
  width: 100%;
  background: linear-gradient(90deg, #b37947 15%, #d2ae8e 35%, #d2ae8e 65%, #b37947 85%);
  font-size: 1.25rem;
  position: relative;
}
@media (max-width: 50em) {
  .navbar__bottom {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    min-height: 43px;
    position: relative;
  }
}
.navbar__bottom__links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
@media (max-width: 50em) {
  .navbar__bottom__links {
    top: -2%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-block: 0.75rem;
    color: rgb(2, 6, 18);
    transition: height 0.7s ease-in-out;
    height: 30px;
    width: 99%;
    text-align: center;
  }
  .navbar__bottom__links--open {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-inline: 1.25rem;
    height: 400px;
    background-color: rgb(2, 6, 18);
    color: #d2ae8e;
    border-bottom: 1px solid hsl(28, 43%, 69%);
    border-inline: 1px solid hsl(28, 43%, 69%);
    transition: height 0.7s ease-in-out;
  }
}
.navbar__bottom__link {
  padding: 0.75rem;
  font-family: "Lexend Mega", sans-serif;
}
@media (max-width: 50em) {
  .navbar__bottom__link {
    padding: 0;
  }
  .navbar__bottom__link--1, .navbar__bottom__link--2, .navbar__bottom__link--3, .navbar__bottom__link--4 {
    transition: opacity 0.2s ease-in-out;
  }
  .navbar__bottom__link--1 {
    transition-delay: 0.25s;
  }
  .navbar__bottom__link--2 {
    transition-delay: 0.5s;
  }
  .navbar__bottom__link--3 {
    transition-delay: 0.75s;
  }
  .navbar__bottom__link--4 {
    transition-delay: 1s;
  }
}
.navbar__bottom__link:hover {
  background-color: rgb(2, 6, 18);
  color: #d2ae8e;
  padding-inline: 0.6875rem;
}
@media (max-width: 50em) {
  .navbar__bottom__link:hover {
    background-color: transparent;
    color: rgb(2, 6, 18);
    padding: 0;
  }
}
.navbar__bottom__button {
  display: none;
}
@media (max-width: 50em) {
  .navbar__bottom__button {
    display: block;
    position: absolute;
    left: 87%;
    top: 50%;
    z-index: 11;
    width: 20px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transform: translateY(-50%);
  }
}/*# sourceMappingURL=NavBar.module.css.map */